# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Data & models
data/bus/
data/docs/
data/events/
data/interim/
data/raw/
data/rules/
data/archived_scripts/
data/event_samples/
data/index/
data/logs
data/processed/
data/zk/
.hf/
outputs/
models/*
!models/.gitkeep

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Build
.coverage
htmlcov/