# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Data & models
data/interim/
data/raw/
data/archived_scripts/
data/event_samples/
data/processed/
models/*
!models/.gitkeep

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Build
.coverage
htmlcov/